<h2>Hi, <%= @user.username %>, Your photo has been rated!</h2>

<p>
  Take a look by visiting your account here: https://photo-rater-hintz.herokuapp.com/sign-up.
</p>

<p>
Sincerely,
The Image Rating Services Team
</p>
