<h2>Welcome to Image Rating Service, <%= @user.username %>!</h2>

<p>
  Thank you for joining!
</p>

<p>
Thank you for creating an Image Rating Service (IRS) account.
For the next 12 months, you will have free access to upload, store, and rate photos.
Learn more by visiting your account page.

Sincerely,
The Image Rating Services Team
</p>
