<% if @current_user %>
  <% if @current_user == @user.id %>
    <%= render 'user_details' %>
  <% end %>
<% end %>

<div class="caption">
  <%= @user.username %>
  <!-- <%= @user.photos.description %> -->
</div>
