<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spitting Image</title>
  </head>
  <body class="header-body">

    <p class="front-page-paragraph">
      Spitting Image is a social image sharing application where user can upload images for storage and peer review
    </p>

  </body>
</html>
